[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
djangorestframework = "*"
django-rest-auth = "*"
dj-rest-auth = "==2.1.7"
pyjwt = "*"
cryptography = "*"
grpcio = "*"
google-api-python-client = "*"
pure-protobuf = "===2.0.1"
protobuf = "*"

[dev-packages]

[requires]
python_version = "3.8"
