{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/sort.js' %}"></script>
{% endblock %}
{% block title %}
    Profile
{% endblock %}
{% block header %}
    <h2>Profile: {{ user.username }}</h2>
    <hr>
{% endblock %}
{% block content %}
    <h3>List authorization</h3>

    <div style="overflow-x: auto">
        <table cellspacing="0" cellpadding="5" border="1" style="width:100%; margin: 15px 5px;" id="myTable">
            <thead>
            <tr>
                <th>SERVER</th>
                <th>CLIENT</th>
                <th>START</th>
                <th>END</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td style="text-align: center">{{ object.server }}</td>
                    <td style="text-align: center">{{ object.client }}</td>
                    <td style="text-align: center">{{ object.start_validity }}</td>
                    <td style="text-align: center">{{ object.expiration_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{% url 'accounts:profile-statistics' %}">Statistics</a><br>

    <a href="{% url 'homepage' %}">Homepage</a>
    <a href="{% url 'authorizations:authorization_create' %}">Create an authorization</a>
{% endblock %}

 {% for object in object_list %}
        <p>"issuer": {{ object.issuer }}, "server": {{ object.server }}, "client": {{ object.client }},
            "not before time": {{ object.start_validity }}, "expiration time": {{ object.expiration_time }} </p>
    {% endfor %}
