{% extends 'base.html' %}
{% block title %}
Homepage
{% endblock %}

{% block header %}
    <h1>My site</h1>
    {% if user.is_authenticated %}
        <p>Hello {{ user.username }}</p>
        <form action="{% url 'accounts:profile' %}">
            <button type="submit">
                Profile
            </button>
        </form>
        <form action="{% url 'accounts:logout' %}">
            <button type="submit">
                Logout
            </button>
        </form>
    {% else %}
        <form action="{% url 'accounts:login' %}">
            <button type="submit">
                Login
            </button>
        </form>
        <form action="{% url 'accounts:user-create' %}">
            <button type="submit">
                Register
            </button>
        </form>
    {% endif %}
    <hr>
{% endblock %}

{% block content %}
    <h1>This is the homepage</h1>
    <h3>How it works?</h3>
    <p>Certificate Transparency (CT) sits within a wider ecosystem, Web Public Key Infrastructure.
    Web PKI includes everything needed to issue and verify certificates used for TLS on the web.
    Certificates bind a public cryptographic key to a domain name, similar to how a passport brings
        together a person's photo and name.</p>

{% endblock %}